table,tr,td {
	border: 1px solid black;
	background-color: lightgray;

}

td{
	padding: 25px;
	font-size: 30px;

}

table {
	margin:50px auto;
}

h2 {
	text-align: center;s
}
button {
	margin:10px 45%;

}

#tablesection {
	border: 1px solid black;
	border-radius: 5px;
	background-color: lightblue;
	height: 60%;
